<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
        <link rel="stylesheet" href="/css/style.css">
       
</head>
<body>
        <form method="post">
        <h1>Form</h1>
        <div class="box">

            <div><label for="fname">First name:</label></div>
            <input type="text" id="fname" name="fname"><br><br>
        

                <div><label for="lname">Last name:</label></div>
            <input type="text" id="lname" name="lname"><br><br>

            <div><label for="Username">Username:</label></div>
            <input type="text" id="username" name="username"><br><br>

            <button type="submit"> submit </button>
            <div>
            <img src="/images/flower.png" alt="Flower">
        </div>
        </div>  
        </form>
</body>
</html>